.navbar {
  height: 80px;
  background-color: rgba(102, 16, 83, 0.698);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-style: italic;
}

.logo {
  font-size: 1.3em;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;  
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

